# Enunciado Desafio Codenation 06/2020
Detalhes

O contexto do desafio gira em torno dos resultados do ENEM 2016 (disponíveis no arquivo train.csv). Este arquivo, e apenas ele, deve ser utilizado para todos os desafios. Qualquer dúvida a respeito das colunas, consulte o Dicionário dos Microdados do Enem 2016.


Muitas universidades brasileiras utilizam o ENEM para selecionar seus futuros alunos e alunas. Isto é feito com uma média ponderada das notas das provas de matemática, ciências da natureza, linguagens e códigos, ciências humanas e redação, com os pesos abaixo:

> matemática: 3

> ciências da natureza: 2

> linguagens e códigos: 1.5

> ciências humanas: 1

> redação: 3

No arquivo test.csv crie um modelo para prever nota da prova de matemática (coluna NU_NOTA_MT) de quem participou do ENEM 2016.

Salve sua resposta em um arquivo chamado answer.csv com duas colunas: NU_INSCRICAO e NU_NOTA_MT.

Faça o upload do arquivo answer.csv usando o botão “Submeter resposta”.

In [2]:
#importando as bibliotecas
import pandas as pd  #bibioteca responsável para o tratamento e limpeza dos dados
import numpy as np #biblioteca utilizada para o tratamento eficiente de dados numéricos
import datetime  #biblioteca utilizada para trabalhar com datas
from matplotlib import pyplot as plt  #plotar os gráficos
import seaborn as sns #plot de gráficos
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
#from google.colab import drive

from datetime import datetime # para calcular o tempo de execução do modelo
import time # para calcular o tempo de execução do modelo

from sklearn.metrics import r2_score #método para o cálculo do R2
from sklearn.preprocessing import StandardScaler, MinMaxScaler # utilizado para o preprocessamento antes de entrar com os modelos
from sklearn.pipeline import Pipeline # pipeline para facilitar a aplicação dos modelos

#modelos que utilizamos para os testes
from sklearn import linear_model
from sklearn import svm
from sklearn import tree
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.linear_model import PassiveAggressiveRegressor
from sklearn.kernel_ridge import KernelRidge
from sklearn.neighbors import KNeighborsRegressor

In [3]:
# monta o Drive para exportar o arquivo final
drive.mount('/drive')

Drive already mounted at /drive; to attempt to forcibly remount, call drive.mount("/drive", force_remount=True).

In [3]:
# Carrega datases 
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [5]:
train

       Unnamed: 0                              NU_INSCRICAO  ...  Q049  Q050
0               1  ed50e8aaa58e7a806c337585efee9ca41f1eb1ad  ...     B     D
1               2  2c3acac4b33ec2b195d77e7c04a2d75727fad723  ...     C     A
2               3  f4545f8ccb9ff5c8aad7d32951b3f251a26e6568  ...     B     A
3               4  3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe  ...     A     A
4               5  bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268  ...     A     A
...           ...                                       ...  ...   ...   ...
13725        4582  aadf671ef8c1c6efa42e69432093ab83c17a52ac  ...     A     A
13726        4583  461f7ef2753d9d5fa0b054930d6b0e0eec318e81  ...     A     A
13727        4584  5354503700ecf2388f68990435390b6e1ad454ee  ...     A     A
13728        4585  c7a9e94a42bd76b7978f13c013a61702e36cc42c  ...     A     D
13729        4586  0af8939c470a600b30bdaa80375ee0db848b0e35  ...     A     A

[13730 rows x 167 columns]

In [6]:
test.describe()

       CO_UF_RESIDENCIA     NU_IDADE  ...  NU_NOTA_COMP5  NU_NOTA_REDACAO
count       4576.000000  4576.000000  ...    3377.000000      3377.000000
mean          30.762019    21.542395  ...      76.683447       527.491857
std            9.912313     6.854073  ...      42.985637       151.979490
min           11.000000    14.000000  ...       0.000000         0.000000
25%           23.000000    17.000000  ...      40.000000       440.000000
50%           31.000000    19.000000  ...      80.000000       540.000000
75%           35.000000    23.000000  ...     100.000000       600.000000
max           53.000000    65.000000  ...     200.000000       980.000000

[8 rows x 32 columns]

In [7]:
# pega as colunas com correlação maior que 0,3

corr = train.corr()[train.corr()['NU_NOTA_MT'] > 0.3]['NU_NOTA_MT']
corr_features = corr.index.to_list()
corr_features.remove('NU_NOTA_MT')
corr_features

['TP_DEPENDENCIA_ADM_ESC',
 'NU_NOTA_CN',
 'NU_NOTA_CH',
 'NU_NOTA_LC',
 'NU_NOTA_COMP2',
 'NU_NOTA_COMP3',
 'NU_NOTA_COMP4',
 'NU_NOTA_COMP5',
 'NU_NOTA_REDACAO']

In [0]:
# vamos usar as variaveis train_inscricao_notas e test_inscricao_notas
# são variaveis apenas com as features corr_features

train_inscricao_notas = train[corr_features]
test_inscricao_notas = test[corr_features]

In [0]:
# tentamos substituir os valores nulos das colunas pela média mas os resultados não foram satisfatorios.
# então, substitui por 0

train_inscricao_notas = train_inscricao_notas.copy()
test_inscricao_notas = test_inscricao_notas.copy()

for feature in corr_features:
  train_inscricao_notas[feature].fillna(0, inplace=True) #substituindo os valores nulos por 0
  test_inscricao_notas[feature].fillna(0, inplace=True) #substituindo os valores nulos por 0
  # train_inscricao_notas[feature].fillna(train_inscricao_notas[feature].mean(), inplace=True) #substituindo os valores nulos pela média da coluna
  # test_inscricao_notas[feature].fillna(test_inscricao_notas[feature].mean(), inplace=True) #substituindo os valores nulos pela média da coluna

# puxa a feature NU_NOTA_MT para utilizar como saida do modelo
train_inscricao_notas['NU_NOTA_MT'] = train['NU_NOTA_MT']
train_inscricao_notas['NU_NOTA_MT'].fillna(0, inplace=True) #substituindo os valores nulos por 0
# train_inscricao_notas['NU_NOTA_MT'].fillna(train['NU_NOTA_MT'].mean(), inplace=True)

In [10]:
# verifica se ficou algum nulo
train_inscricao_notas.isnull().sum()

TP_DEPENDENCIA_ADM_ESC    0
NU_NOTA_CN                0
NU_NOTA_CH                0
NU_NOTA_LC                0
NU_NOTA_COMP2             0
NU_NOTA_COMP3             0
NU_NOTA_COMP4             0
NU_NOTA_COMP5             0
NU_NOTA_REDACAO           0
NU_NOTA_MT                0
dtype: int64

In [0]:
#separa em treino e teste

x = train_inscricao_notas.astype(int)
y = train_inscricao_notas['NU_NOTA_MT'].astype(int)
x_train, x_test, y_train, y_test = train_test_split(x[corr_features], y, test_size=0.05, shuffle=True, random_state=0)

In [0]:
#CRIANDO UM PIPELINE PARA FAZER O vectorizer => transformer => classifier
pipes = {  
  'KNeighborsRegressor': Pipeline([
      ('clr', MinMaxScaler()),
      ('clf', KNeighborsRegressor(n_neighbors=15)),
  ]),
  'KernelRidge': Pipeline([
      ('clr', MinMaxScaler()),
      ('clf', KernelRidge(alpha=1.0)),
  ]),
  'LinearRegression': Pipeline([
      ('clr', MinMaxScaler()),
      ('clf', LinearRegression()),
  ]),
  'PassiveAggressiveRegressor': Pipeline([
      ('clr', MinMaxScaler()),
      ('clf', PassiveAggressiveRegressor()),
  ]),
  
  'Ridge': Pipeline([
      ('clr', StandardScaler()),
      ('clf', linear_model.Ridge(alpha=.5)),
  ]),

  'SVR': Pipeline([
      ('clr', StandardScaler()),
      ('clf', svm.SVR()),
  ]),

  'GradientBoostingRegressor': Pipeline([
      ('clr', StandardScaler()),
      ('clf', GradientBoostingRegressor()),
  ]),

  'DecisionTreeRegressor': Pipeline([
      ('clr', StandardScaler()),
      ('clf', tree.DecisionTreeRegressor()),
  ])
}

In [16]:
# roda os modelos e pega o que tiver melhor R2
melhor_resultado = 0

for nome, modelo in pipes.items():
    start_time = time.time()
    modelo.fit(x_train, y_train)
    predicted = modelo.predict(x_test)
    R_2 = r2_score(y_test, predicted)  #realiza o cálculo do R2
    print(nome + "=> (R2):"+ str(round(R_2,2)))

    if melhor_resultado < R_2:
      modelo_resultado = {}
      modelo_nome, modelo_treinado, modelo_resultado = nome, modelo, R_2
      melhor_resultado = R_2

KNeighborsRegressor=> (R2):0.91
KernelRidge=> (R2):0.9
LinearRegression=> (R2):0.9
PassiveAggressiveRegressor=> (R2):0.9
Ridge=> (R2):0.9
SVR=> (R2):0.88
GradientBoostingRegressor=> (R2):0.92
DecisionTreeRegressor=> (R2):0.84

In [18]:
# Modelo com melhor resultado
print (modelo_nome + ': com R2= '+ str(modelo_resultado))

GradientBoostingRegressor: com R2= 0.9195522389473596

In [0]:
# roda melhor modelo na base de teste
test_inscricao_notas['NU_NOTA_MT'] = modelo_treinado.predict(test_inscricao_notas[corr_features].astype(int))

In [20]:
#cria df apenas com os resultados que precisam ser exportados
result = pd.DataFrame({'NU_INSCRICAO': test['NU_INSCRICAO'], 'NU_NOTA_MT': test_inscricao_notas['NU_NOTA_MT']})
result

                                  NU_INSCRICAO  NU_NOTA_MT
0     73ff9fcc02f0a99919906c942c2e1a1042cdcf98  434.032348
1     71a95f9f1b91a82c65ad94abbdf9f54e6066f968  454.029324
2     b38a03232f43b11c9d0788abaf060f7366053b6d  589.769923
3     70b682d9a3636be23f6120fa9d6b164eb3c6002d    0.426361
4     715494628a50142ce8cb17191cfe6d0f3cae0934  537.780278
...                                        ...         ...
4571  dac0f22429c7f8e3931d0abaf5dfc8e5c772a48b  447.209120
4572  a75fa8770257e7c9368d059fe53d9ef431f4bdef  469.959204
4573  655fa6306720ff16e825903b5422a46608a77545  660.101134
4574  1f4bc3e3d56212d500625bfe8ac78ccff4362293  448.920180
4575  adf0d15b54317b6564ef56dad2b775bbb0ef50cc    0.426361

[4576 rows x 2 columns]

In [0]:
# Exporta
now = datetime.now()
dt_string = now.strftime("%H-%M-%S")

result.to_csv('/drive/My Drive/'+'answer_'+dt_string+'.csv', index=False)